h1{
    background-color: #00FFFF;
    color: rgb(0, 0, 0);
}


.header {
    background-color: #FFFF00 ;;
    display:flex;
    justify-content: space-between;
}

.menu {
    background-color: #88FF00;
}

.games{
    background-color: #FFFF00;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.item {
    background-color: #FF4444;
}

.icons {
    background-color: #000000;
    display:flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}

body{
    background-color: #DDDDFA;
}